<html lang="ja">
<head>
    <script type=text/javascript src="static/js/get_axis.js"></script>
</head>
<body onload="init()" ondragover="return false">
<div>
    <p ><img src="{{  url_for('video_feed') }}" id="target_image"
             style="position: absolute; left: 300px" ></p>
    <form method="post" action="/create_metadata" enctype="multipart/form-data">
        <input type="submit" name="add_box_data" value="座標登録">
        <textarea cols="25" rows="6" id="axis_list" name="axis_data_for_draw_boxes"
              style="overflow:auto;">
        </textarea>
    </form>
</div>
</body>
</html>